//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

class {{ module_info.name }}ModuleConfigurator {
    
    @discardableResult
    func configure(viewController: UIViewController, output moduleOutput: {{ module_info.name }}ModuleOutput?) -> {{ module_info.name }}ModuleInput? {
        guard let viewController = viewController as? {{ module_info.name }}ViewController else { return nil }

        let router = {{ module_info.name }}Router()
        router.viewController = viewController

        let presenter = {{ module_info.name }}Presenter()
        presenter.view = viewController
        presenter.router = router
        presenter.moduleOutput = moduleOutput

        let moduleInput = presenter

        let interactor = {{ module_info.name }}Interactor()
        interactor.output = presenter

        presenter.interactor = interactor
        viewController.output = presenter

        return moduleInput
    }
}
