//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

protocol {{ module_info.name }}RouterShowProtocol {

	var viewController: UIViewController! { get }

	func present{{ module_info.name }}()
    func show{{ module_info.name }}()
}

extension {{ module_info.name }}RouterShowProtocol {
	
	func present{{ module_info.name }}() {
        let screenVC = {{ module_info.name }}ViewController.instantiateFromStoryboard()
        let configurator = {{ module_info.name }}ModuleConfigurator()
        configurator.configure(viewController: screenVC, output: nil)
        
        let navVC = UINavigationController(rootViewController: screenVC)
        
        viewController.present(navVC, animated: true, completion: nil)
    }

    func show{{ module_info.name }}() {
        let screenVC = {{ module_info.name }}ViewController.instantiateFromStoryboard()
        let configurator = {{ module_info.name }}ModuleConfigurator()
        configurator.configure(viewController: screenVC, output: nil)
        
        viewController.navigationController?.pushViewController(screenVC, animated: true)
    }
}
