//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

class {{ module_info.name }}ViewController: UIViewController {
    var output: {{ module_info.name }}ViewOutput!

    // MARK: - Life cycle
    override func viewDidLoad() {
        super.viewDidLoad()

        output.viewIsReady()
    }
}

// MARK: - {{module_info.name}}ViewInput
extension {{ module_info.name }}ViewController: {{module_info.name}}ViewInput {
    func setupInitialState() {}
}
